extend ../_component/layout/main

block config
  -
    var title = template.head.title || `change title`
    var description = template.head.description || `chage description`

block content
  #continue.scrool
    each something in template.body
      if something.type == "blockquote"
        blockquote.blockquote
          .blockquote__body
            each paragraph in something.data
              p=paragraph
          .blockquote__footer
            a(href=something.link, target="_blank")=something.source

      if something.type == 'pre'
        h4.pre-title=something.title
        each dataValue in something.data
          pre=dataValue

      if something.type == 'ul'
        ul
          each listItem in something.data
            li=listItem

      if something.type == "h2"
        h2=something.data
      
      if something.type == "h3"
        h3=something.data

      if something.type == "paragraph"  || something.type == "p"
        each paragraph in something.data 
          p=paragraph

      if something.type == "paragraph-safe"
        each paragraph in something.data 
          p!=paragraph

      if something.tipe == "hr"
        hr

      is something.tipe == 'img'
        img(src=something.src)


    //- pre=JSON.stringify(template.body, null, 2)
    //- pre=JSON.stringify(template.head, null, 2)